<html>
    <head>
        <script src="vue.js"></script>
        <meta charset="utf-8">
        <style>
            .active{
                background-color: rgb(255, 153, 0);
                padding: 8px;
            }
        </style>
    </head>
    <body>

        <!--  attribute class binnding -->
    <div id="app">
        <input type="text" v-model="name">
        <p>My name is:  {{ name }}</p>
        <p v-html="html"></p>
        <a  :class="{'active': activelinks=='link1'}" :href="web.link1.url" :title="web.link1.title"> {{ web.link1.name }} </a>
        <a :class="{'active': activelinks=='link2'}" :href="web.link2.url" :title="web.link2.title"> {{ web.link2.name }} </a>
            <!-- end -->
    </div>
<hr>
    <!-- list rendering with condition-->
    <div id="list_app">
        <ul>
            <li v-if="skill.expirence >2 " v-for="(skill, index) in skills">
               {{ index+1 }}. {{ skill.name }}({{ skill.expirence }})
            </li>
        </ul>
    </div>
    <hr>
    <!--  end -->
    <div id="method">
        <ul>
            <h4>method test</h4>
            <li v-for= "(skill, index) in skills">
                {{ skill }} <button @click = removeSkill(index)> X </button>
            </li>
        </ul>
        <input type="text" v-model="newSkill">
        <button v-on:click="addNew()"> Add </button>

    </div>
    <hr>

    <div id="computed">
        <ul>
            <h4> All payments</h4>
            <li v-for= "(payment, index) in payments">
                {{ payment.name }} -- {{ payment.amount }} 
            </li>
        </ul>

        <ul>
            <h4> unpaid payments </h4>
            <li v-for= "(payment, index) in unpaidPayments">
                {{ payment.name }} -- {{ payment.amount }} 
            </li>
        </ul>
        <p>
            total amount {{ allAmount }}
        </p>
    </div>



<script src="callback.js" ></script>
<script src="attribute_and_class_bind.js" ></script>
<script src="list_rendering_with_condition.js" ></script>
<script src="event_and_method.js" ></script>
<script src="computed_properties.js" ></script>
    </body>
</html>