<html>

<head>
    <link rel="stylesheet" href="main.css">
    <script src="vue.js"></script>
    <title>
        Product App
    </title>
</head>

<body>
    <div class="nav-bar"></div>

    <div id="vue-app">

        <div class="product">
            <div class="product-image">
                <img :src="image">
            </div>
            <div class="product-info">
                <h1>{{ product }}</h1>
                <p v-if="inventory> 10">In stock</p>
                <p v-else-if="inventory <= 10 && inventory > 0">Almost sold out</p>
                <p v-else>out of stock</p>
                <hr>
                <p v-if="isStock">In stock</p>
                <p v-else :class="{outOfStock : !isStock}" :style="{color: css.color}">out of stock</p>

                <ul>
                    <li v-for="detail in details">
                        {{ detail }}
                    </li>
                </ul>

                <div class="color-box" v-for="variant in variants" :key="variant.variantId"
                    :style="{ background: variant.variantColor}" @mouseover="changeColor(variant.variantImage)">
                </div>

                <button @click="addCount" 
                :class="{disabledButton: !isStock}"
                :disabled="!isStock">Add to Cart</button>
                <div class="cart">
                    <p>cart({{cartCount}})</p>
                </div>

            </div>

        </div>
    </div>

</body>
<script src="main-vue.js"></script>

</html>